<h3>C</h3>

<pre>:::c
int a, b;  
int main(int argc, char *argv[]) {  
   hello();  
   return 0;  
}  
void hello(void) {  
   printf("hello world\n");  
}
</pre>

<h3>ruby </h3>

<pre>:::ruby
def hello
  puts 'hello world'
end
</pre>

<h3>css21</h3>

<pre>:::css
html {
  margin: 0;
  padding: 0;
  background-color: #0C7D85;
  line-height: 1.6;
}
body {
  margin: 1em auto 1em auto;
  padding: 1em 2em 2em 1em;
  width: 760px;
  border: 1px solid black;
  background-color: #E8DDCB;
}
</pre>

<h3>sql</h3>

<pre>:::sql
drop table if exists exams;  
create table exams (  
  id          integer       primary key autoincrement,  
  student_id  integer       not null,  -- foreign key
  result      integer       default 0 collate nocase,  
  when        datetime
);  
</pre>

<h3>html</h3>

<pre>:::html
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Hello!&lt;/title&gt;
    &lt;style type="text/css"&gt;
      h1 { color: blue; }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello World&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>