<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/application.css" 
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/syntax.css" 
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/coderay.css" 
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/uv.css" 
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/pygments.css" 
          type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/censor.css" 
          type="text/css" media="screen" charset="utf-8"/>

    <link rel="stylesheet" href="/stylesheets/prettify.css" 
          type="text/css" media="screen" charset="utf-8"/>

    <script src="/javascripts/prettify.js"
          type="text/javascript" charset="utf-8"></script>

    <script src="http://www.google.com/jsapi"></script>
    <script>
    // on page load complete, fire off a prettyPrint
    google.setOnLoadCallback(function() {
        prettyPrint();     
    });
    </script>
     
    <title><%= "Code Highlighting Middleware" %></title>
  </head>
  
  <body>

<%= yield %>
    
  </body>
</html>
